.error {
  color: var(--app-color-warning);
}

.success {
  color: var(--app-color-success);
}

.label, .value, label {
  display: inline-block;
}

.label, label {
  font-weight: bold;
  margin-right: 16px;
}
