.item {
  background-color: var(--app-background-secondary);
  padding: 16px;
  display: block;
  margin-bottom: 2em;
}

.item a,
.item a:active {
  color: var(--app-color-secondary);
  text-decoration: none;
}

.item .title {
  font-size:x-large;
  margin-bottom: 4px;
  color: var(--app-color-secondary);
  font-weight: bold;;
}

.item button {
  width: 36px;
  height: 36px;
  border-radius: 0;
  border: 0;
  float: right;
  margin-top: -16px;
  background-color: var(--app-background-secondary);
  cursor: pointer;
}

.item button svg {
  width: 18px;
  height: 18px;
  fill: var(--app-color-primary);
}

.item button:first-of-type {
  margin-right: -16px;
}

.item button.delete {
  background-color: var(--app-background-warning);
  color: var(--app-color--warning);
}

.item button.hasStar {
  background-color: var(--app-highlight-primary);
}

.item .snippet {
  margin-bottom: 8px;
  color: var(--app-color-secondary);
}

.item .lastUpdated {
  font-size: smaller;
}

.hidden {
  display: none !important;
}
