.view {
  word-break: break-word;
  margin-bottom: 76px;
}

.footerHidden {
  margin-bottom: 20px;
}

.view p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.25em;
  padding-right: 0.25em;
}

.boundary {
  background-color: var(--pwap-dark);
  color: var(--pwap-body);
  text-transform:uppercase;
  padding: 2em;
  text-align: center;
  font-size: xxx-large;
}

.boundary:first-of-type {
  margin-bottom: 1em;
}

.boundary:last-of-type {
  margin-top: 2em;
  padding-bottom: 8em;
}
