.header {
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  background: var(--app-background-secondary);
  color: var(--app-color-primary);
  z-index: 50;
  display: flex;
  flex-wrap: nowrap;
}

.header h1 {
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
  color: var(--app-color-secondary);
  flex-grow: 1;
}

.header nav {
  font-size: 100%;
  display: flex;
}

.header nav a {
  display: block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: var(--app-background-secondary);
  text-decoration: none;
  color: var(--app-color-secondary);
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  background: var(--app-background-third);
  color: var(--app-color-third);
}

.header nav a.hidden {
  display: none;
}
