@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api";

// 5. Add additional custom code here

html {
  color-scheme: dark;
}

main {
  padding-top: calc(var(--bs-gutter-x, 0.75rem) + 52px);
}

.btn {
  color: white !important;
}

// 6. Add overrides here.

#headNav a.nav-link {
  padding: 0.5rem 0.5rem;
}

#headNav a.nav-link.active {
  background-color: $light;
}

#headNav a.nav-link svg {
  fill: $light;
}

#headNav a.nav-link.active svg {
  fill: $white;
}
