$theme: "my-prompter" !default;

/* Material Design Gray */
$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

/* Override colors Material Design 500 */
$blue:    #2196F3 !default;
$indigo:  #3f51b5 !default;
$purple:  #673ab7 !default;
$pink:    #e91e63 !default;
$red:     #f44336 !default;
$orange:  #ff9800 !default;
$yellow:  #ffeb3b !default;
$green:   #4caf50 !default;
$teal:    #009688 !default;
$cyan:    #00bcd4 !default;

$primary:    $blue !default;
$secondary:  $gray-700 !default;
$success:    $green !default;
$info:       $cyan !default;
$warning:    $yellow !default;
$danger:     $red !default;
$very-light: $gray-200 !default;
$light:      $gray-500 !default;
$dark:       $gray-800 !default;


// Color Overrides

$body-bg:              $gray-900 !default;
$body-color:           $white !default;

$text-muted:                  $gray-600 !default;

$table-accent-bg:             $gray-800 !default;
$table-border-color:          $gray-700 !default;

$input-color:                       $gray-800 !default;
$input-border-color:                $body-bg !default;
$input-group-addon-color:           $gray-500 !default;
$input-group-addon-bg:              $gray-700 !default;

$form-check-input-bg:                     $white !default;
$form-check-input-border:                 none !default;

$form-file-button-color:          $white !default;

$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $gray-700 !default;
$dropdown-divider-bg:               $gray-700 !default;
$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-500 !default;
$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-dark-color:                rgba($white, .6) !default;
$navbar-dark-hover-color:          $white !default;
$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// Cards

$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// Popovers

$popover-bg:                        $gray-800 !default;
$popover-header-bg:                 $gray-700 !default;

// Toasts

$toast-background-color:            $gray-700 !default;
$toast-header-background-color:     $gray-800 !default;

// Modals

$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;
$modal-header-border-color:         $gray-700 !default;

// Progress bars

$progress-bg:                       $gray-700 !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;
$list-group-hover-bg:               $gray-700 !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       $gray-900 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     $gray-700 !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;


:root {
  --pwap-body: #{$body-color};
  --pwap-bg: #{$body-bg};
  --pwap-primary: #{$primary};
  --pwap-secondary: #{$secondary};
  --pwap-success: #{$success};
  --pwap-info: #{$info};
  --pwap-warning: #{$warning};
  --pwap-danger: #{$danger};
  --pwap-very-light: #{$very-light};
  --pwap-light: #{$light};
  --pwap-dark: #{$dark};
  --pwap-white: #{$white};
  --pwap-black: #{$black};
}
