.settingsDialog .flex {
  display: flex;
}

.label {
  font-weight: bold;
}

.settingsDialog .flip > div {
  display: inline-block;
  width: 50%;
}

.settingsDialog form > div {
  margin-bottom: 8px;
}
