.hidden {
  display: none !important;
}

.footer {
  z-index: 50;
  flex-wrap: nowrap;
  transition: transform 0.25s ease-in-out;
}

.footer .toggle {
  height: 20px;
}

.footer .toggle button {
  width: 100%;
  background-color: var(--pwap-secondary);
  color: var(--pwap-light);
  border: none;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.footer.minimized {
  transform: translateY(53px);
}

.footer nav button {
  will-change: background-color;
  width: 60px;
}

.footer nav button div {
  color: var(--pwap-very-light);
  font-size: x-small;
}

.footer nav button svg {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  fill: var(--pwap-very-light);
}
