dialog {
  position: fixed;
  top: calc(50% - 56px);
  transform: translate(0, -50%);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
dialog + .backdrop { /* polyfill */
  background-color: rgba(0, 0, 0, 0.8);
}
